
.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 10em;
}

.menu {
    grid-column: 1;
    grid-row-end : -1;
    border: 2px salmon;
}

.corps{
    grid-row-end: -1;
    grid-column: 2/span 3;
    border: 2px salmon;
}


.question{
    font-family: "Comfortaa", serif;
    font-size: 20px;
    color: #0063e3;
}

.corps h1{
    font-family: "Comfortaa", serif;
    color: #EF0A0A;
    padding: 0;
    top:0;
    margin: 0;
}

.menumessagerie{
    margin-left: 5%;
}