section { /* quadrillage externe */
	border: 3px solid #D52C42; 
	margin: auto; 
	border-radius: 20px;
}

h1 {
	font-family: "Comfortaa";
	color: #D52C42;
	text-align: center;
}

table {
	margin: auto;
	margin-bottom: 10px;
	border-collapse: collapse;
}

th { /* cellules d'en-têtes */
	border: 2px solid #D52C42;
	color: white;
	font-size: 1.2em;
	font-family: "Comfortaa";
	background-color: #D52C42;
}

td { /* cellules normales */
	border: 2px solid #D52C42;
	font-size: 0.95em;
	background-color: #FEE8EE;
	padding: 8px;
	vertical-align: middle;
	text-align: center;
}