
html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    position: relative;
}

input[type="text"], input[type="password"] {
    margin-bottom: 4%;
    width: 70%;
    margin-left: 15%;
}

.title2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.accountWrapper {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 15px));
    grid-gap: 15px;
}

.menu {
    grid-column: 1;
    margin-left: 5%;
    grid-row: 1;
}

.leftWrapper {
    grid-column: 2;
}

.midWrapper {
    grid-column: 3;
}

.rightWrapper {
    grid-column: 4;
    color: red;
    height: 80%;
}
