em
{
    color: red;
}

h2, h3
{
    color : white;
    position: center ;
}

.Section
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: 100%;
    font-family: "Comfortaa-Bold", serif;
}

.Section1
{
    grid-column: 1;
    grid-row: 1;
    background: #AD031A;
    border: 1px solid #AD031A;
    text-align: center;
    //font-size: 1wvm;
    position: relative;
}

.sousection1
{
    position: absolute; top :50%;
    transform: translateY(-50%);
    width: 100%;
}

.Section2
{
    grid-column: 2;
    grid-row: 1;
    background: #AD031A;
    border: 1px solid #AD031A;
    text-align: center ;
    font-size: 13px;
}

.cgu
{
    color : white;
    text-decoration: underline;
}


.oublié
{
    color: white;
}


p
{
    color : black;
}

em
{
    color : red;
}
footer {
    border-top : 1px solid #D52C42;
    color :#D52C42;
    width: calc(100% - 8px);
    position: absolute;
    left: 0;
    padding: 4px;
    font-size : 1vw;
}

.grille
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 5%;
}

.location
{
    grid-column: 1;
    grid-row: 1;
}

.web
{
    grid-column: 2;
    grid-row: 1;
}
.a_propos
{
    grid-column: 3;
    grid-row: 1;
}

.cgu
{
    color : white;
}