@import "header.css";
@import "footer.css";
@font-face {
  font-family: "Comfortaa-Regular";
  src: url('../ressources/Comfortaa-Regular.ttf');
}
@font-face {
  font-family: "Aleo-Regular";
  src: url('../ressources/aleo-regular-webfont.ttf');
}
@font-face {
  font-family: "Comfortaa-Bold";
  src: url('../ressources/Comfortaa-Bold.ttf');
}
html {
  height: 100%;
}
body {
  margin : 0;
  min-height: 100%;
  position: relative;
  font-family: Aleo-Regular, serif;
}
.menu{
  margin-left: 5%;
}
.menu a {
  font-size : 1.3vw;
  text-align: center;
  color: #0063e3;
  float: left;
  width: 80%;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd; 
  padding : 14px 0 10px 0;
}
.menu .active {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color:#EF0A0A;
  font-weight:bold;
  width: 90%;
}
.menu a:hover {
  background-color: #96BEFF;
}
.menu a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.button {
  font-family: "Comfortaa-Bold", serif;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 20px 4px;
  font-size: 1vw;
  cursor: pointer;
  box-shadow: 0 3px #999;
  background-color: #0063e3;
}
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
.button:hover {
  background-color: #0059CC;
}
.button:focus {outline:0;}
.redButton:hover {
  background-color: #d70909;
}
.redButton{
  background-color: #EF0A0A;
}

#customScroll::-webkit-scrollbar-track {
  display : none;
  border-radius: 10px;
  background-color: #F5F5F5;
}
#customScroll::-webkit-scrollbar {
  height : 4px;
}
#customScroll::-webkit-scrollbar-thumb {
  height : 100px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

input[type="text"]{
  line-height: 1.3;
}
.title {
  font-family: "Comfortaa-Bold" , serif;
  color:#0063e3;
  text-align: center;
  font-size: 1.5vw;
  width:100%;
}
.title2 {
  display: inline-block;
  width : 20%;
  color :#0063e3;
  font-size:1.5vw;
}
.whiteButton{
  height:40px;
  background-color: white;
  color : #AD031A;
  width : 20%;
  padding-bottom: 20px;
  padding-top: 12px;
}


.whiteButton:hover{
  background-color: lightgray;
}
