.wrapper {
    display : grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.logo {
    grid-column:1;
    grid-row:1;
    padding: 10px;
}

.two {
    grid-column: 2/4;
    grid-row: 1;
    padding: 10px;
}

.three {
    grid-column: 4/-1;
    grid-row:1;
    padding: 10px;
}

.four {
    grid-column:1;
    grid-row:span 6;
    padding: 10px;
}

.five {
    grid-column:2/span 4;
    grid-row:span 6;
    padding : 10px;
}